body {
  position: relative;
  overflow-x: hidden;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c2c4c9;
  opacity: 1; /* Firefox */
}

.button{
  margin: 1em 0;
  border: 3px solid black;
  border-radius: 6px;
  display: block;
  width: 6em;
  background: linear-gradient(to right, black 50%, white 50%) right bottom;
  background-size: 200% 100%;
  transition: background-position .5s ease-out;
  cursor: pointer;
}

.button:hover{
  background-position: left bottom;
}

.text{
  text-align: center;
  font-weight: 700;
  padding: 0.5em;
  color: black;
  transition: all .6s ease-out;
  display: block;
}

.button:hover .text{
  color:white;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.note-pad::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 10px;
}

/* Handle on hover */
.note-pad::-webkit-scrollbar:hover {
  width: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}
::-ms-reveal {
  display: none;
}

.notes-basis{
  flex-basis: calc(100% - 230px);
}


/*1)React strict mode
2)connecting endpoints*/

